* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  /* background-color: rgb(110, 0, 0) ; */
  background-image: linear-gradient(
    to bottom,
    rgb(110, 0, 0),
    rgb(74, 178, 238)
  );
  padding: 10px;
  border: 5px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  img {
    height: 80px;
  }
  ul {
    list-style: none;
    display: flex;
  }
  li {
    padding: 15px;
  }
  a {
    color: white;
    :hover {
      color: rgb(252, 87, 87);
      font-weight: bold;
      transition: 0.3s;
    }
  }
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(252, 87, 87 / 90%);
}

.footer {
  background-image: linear-gradient(to top, rgb(110, 0, 0), rgb(74, 178, 238));
  padding: 10px;
  border: 5px black solid;
  li {
    color: white;
    display: inline;
    padding: 2px;
    margin: 2px;
  }
  a {
    color: white;
    :hover {
      color: rgb(252, 87, 87);
      font-weight: bold;
      transition: 0.3s;
    }
  }
}
.main-index {
  min-height: 60vh;
}
.titulo-principal {
  margin: 10px;
}
.titulo-secundario {
  margin: 8px;
}

.lista-videos {
  border: 1px black solid;
  li {
    display: inline;
  }
}

.campeonato {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  div {
    margin: 5px;
    background-color: rgb(255, 191, 184);
    table {
      margin: 2px;
      tr th {
        margin: 2px;
        text-align: center;
      }
      tr td {
        margin: 2px;
        text-align: center;
      }
    }
  }
}

.galeria {
  width: 480px;
}
.carousel-padre {
  width: 480px;
  margin: 0 auto;
}

.descrip {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}
.photo-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.grid-galeria {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 360px);
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "item7"
    "item8"
    "item9"
    "item10";
  section {
    border: 2px solid black;
    background-color: rgb(255, 230, 230);
    margin: 5px;
  }
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.item10 {
  grid-area: item10;
}

.netflix {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    div{
        margin: 5px;
    }
  }

  @media (min-width: 768px) {
  

 
    .netflix{
      flex-direction: row;
    }
  }
  @media (min-width: 1024px){
    .grid-galeria {
      grid-template-columns: repeat(2, 50vw);
      grid-template-rows: repeat(5, 360px);
      grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        "item9 item10"
    }
            
        }