* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './variables/colores';
@import './variables/typo';
@import './variables/tamanios';
@import './variables/extend';


@import './secciones/header';
@import './secciones/footer';
@import './secciones/main-index';
@import './secciones/campeonato';
@import './secciones/contacto';
@import './secciones/galeria';
@import './secciones/netflix';