%estilo-form{
    background-color: $celestito;
    
    border: solid black;
    max-width: 60vw;
}

@mixin estilo-titulos ($size) {
    font-size: $size; 
    font-weight: 300;
    font-family: $roboto-negrita;
}