%estilo-form{
    background-color: $celestito;
    background-image: url(../../Logo/Fangio.jpg);
    
    border: solid black;
    max-width: 100vw;
    background-position: center center;
}

@mixin estilo-titulos ($size) {
    font-size: $size; 
    font-weight: 300;
    font-family: $roboto-negrita;
}