.campeonato {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    div {
      margin: 10px;
      background-color: rgb(255, 191, 184);
      border: 2px black solid;
      table {
        margin: 2px;
        tr th {
          margin: 2px;
          text-align: center;
        }
        tr td {
          margin: 2px;
          text-align: center;
        }
      }
    }
  }
  .gold{
    background-color: gold;
  }
  .silver{
    background-color: silver;
  }
  .bronze{
    background-color: rgb(216, 122, 60);
  }
  
  @media (min-width: 768px) {
  

 
    .campeonato{
      flex-direction: row;
      align-items: flex-start;
      
    }
  }