.main-index {
    min-height: 80vh;
  }
  .titulo-principal {
    margin: 10px;
  }
  .titulo-secundario {
    margin: 8px;
  }
  
  .lista-videos {
    border: 1px black solid;
    li {
      display: inline;
    }
  }
  