.main-index {
    min-height: 80vh;
  }
  .titulo-principal {
    margin: 10px;
    @include estilo-titulos(30px);
  }
  .titulo-secundario {
    margin: 8px;
    @include estilo-titulos (20px);
  }
  
  .lista-videos {
    border: 1px black solid;
    li {
      display: inline;
    }
  }
  .body-backround{
    background-image: url(../variables/Fangio.jpg);
    background-size: cover;
  }