.main-index {
    min-height: 80vh;
    
  }
  .titulo-principal {
    margin: 10px;
    @include estilo-titulos(30px);
  }
  .titulo-secundario {
    margin: 8px;
    @include estilo-titulos (20px);
  }
  
  .lista-videos {
  
    display: flex;
    flex-direction: column;
    div{
      margin: 10px;
    }
  }
  .negrita{
    font-weight: bold;
  }

  @media (min-width: 1024px) {
  

 
    .lista-videos{
      flex-direction: row;
    }
  }