.netflix {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    div{
        margin: 5px;
    }
  }

  @media (min-width: 768px) {
  

 
    .netflix{
      flex-direction: row;
    }
  }